<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqkRDdy9FUqn8KdPvN3ci01_sKmeVWIJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>391342657100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GoncalvesHigino.SwiftAndFirebase</string>
	<key>PROJECT_ID</key>
	<string>swiftfirebase-eb715</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftfirebase-eb715.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:391342657100:ios:1637e490e60a5211756ee9</string>
</dict>
</plist>
